@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#root {
    overflow-y: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar {
    display: none;
}

.dot {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 32px;
    background: black;
}
.line {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 5px;
    border-radius: 32px;
    background: black;
}

.after-dot:after {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 32px;
    background: black;
    position: absolute;
    margin-top: 36px;
}
span {
    transition: all 0.5s ease;
}

button:active, a:active {
    background: #e4e4e4;
    scale: 0.9;
}

button, a {
    transition: all 0.3s ease;
}
.scale-98:active {
    transition: all 0.3s ease;
    scale: 0.98!important;
}

@media screen and (min-width: 720px) {
    button:hover, a:hover {
        background: #e4e4e4;
    }
}

.scanner div {
    border: none!important;
    box-shadow: none!important;
    background: url("images/qr.png") no-repeat center;
    background-size: 200px;
    opacity: 0.8;
}
.active {
    background: #f2f2f2
}


#noti-stack {
    margin: 2.5rem;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-transform: capitalize;
}
.notification {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 14px;
    width: fit-content;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(30, 144, 255, 0.9);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.25);
    margin-top: 20px;
}

.ani-nots {
    opacity: 0;
    animation: nots 5s;
}
@keyframes nots {
    0% {
        margin-bottom: -20px;
        opacity: 0;
    }
    10% {
        margin-bottom: 0;
        opacity: 1;
    }
    90% {
        margin-bottom: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.success {
    background-color: mediumseagreen;
}

.info {
    background-color: dodgerblue;
}
.failed {
    background-color: lightcoral;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    cursor: pointer;
    margin: -7px 0 0 0;
}
