@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar {
    display: none;
}

.dot {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 32px;
    background: black;
}
.line {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 5px;
    border-radius: 32px;
    background: black;
}

.after-dot:after {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 32px;
    background: black;
    position: absolute;
    margin-top: 36px;
}
span {
    transition: all 0.5s ease;
}
a, button {
    border-radius: 100%;
}

button:active, a:active {
    background: #e4e4e4;
    scale: 0.9;
}

@media screen and (min-width: 720px) {
    button:hover, a:hover {
        background: #e4e4e4;
    }
}

.scanner div {
    border: none!important;
    box-shadow: none!important;
    background: url("images/qr.png") center;
    background-size: cover;
    opacity: 0.8;
}
